# Godot-specific ignores
.import/
*.import
export.cfg
export_presets.cfg

# Mono-specific ignores
.mono/
mono_crash.*.*.json

# Project specific
addons/*
!addons/Rakugo
fontconfig
refences/
saves/
.directory
.vscode/
.*.kra
reference.json
tests

# For now
test/
